<div class="panels">
  <li #panelItem *ngFor="let panel of panels; let i = index" class="panel panel{{i}}" (click)="toggleOpen(panel)"
    [ngClass]="{
    'open open-active':selectedPanel === panel
    }">
    <p class="font-serif">{{panel.heading}}</p>
    <p><span class="font-serif text-white px-2 mr-3 bg-tealy-500">{{panel.main}}</span></p>
    <div class="flex flex-col">
      <p class="pb-4 font-serif">{{panel.footer}}</p>
      <a routerLink="/services"
        class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md">
        Learn more
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg></a>
    </div>
  </li>
</div>
