<section class="container pt-4 pb-2 px-2 md:px-10 xl:px-0 mx-auto md:pt-10 max-w-5xl">
  <h1
    class="text-xl md:text-4xl font-semibold pb-1 text-gray-600 leading-relaxed md:leading-normal font-serif border-b border-raw-300 flex flex-wrap">
    <span class="heading_highlight inline bg-raw-500 text-white py-1 px-2 mb-4 font-bold">
      <ng-content select="[text-one]"></ng-content>
    </span>
    <span class="heading_highlight inline bg-raw-700 text-white py-1 px-2 mb-4 font-bold">
      <ng-content select="[text-two]"></ng-content>
    </span>
    <span class="heading_highlight inline bg-raw-900 text-white py-1 px-2 mb-4 font-bold">
      <ng-content select="[text-three]"></ng-content>
    </span>

  </h1>
</section>
