.instagram span {
  @apply relative;
  &:before {
    content: "";
    background-image: url("/assets/icons/social/instagram-icon.png");
    // background-size: 50px 50px;
    @apply w-14 h-14 bg-cover absolute -rotate-6 rounded -top-4 -left-16 font-bold;
  }
}

.twitter span {
  @apply relative;
  &:before {
    content: "";
    background-image: url("/assets/icons/social/twitter-icon.png");
    // background-size: 50px 50px;
    @apply w-16 h-16 bg-cover absolute -rotate-12 rounded -top-5 -left-16 font-bold;
  }
}
