<div>
  <ng-content select="[card-img]"></ng-content>

  <div class="relative -mt-5">
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h4 class="pb-2 text-2xl font-semibold leading-tight">
        <ng-content select="[card-header]"></ng-content>
      </h4>

      <h4 class="pb-2 text-base font-semibold leading-tight">
        <ng-content select="[card-sub-header]"></ng-content>
      </h4>

      <div class="mt-1">
        <p class="text-gray-600">
          <ng-content select="[card-body]"></ng-content>
        </p>
      </div>

      <div class="flex justify-end pt-5">
        <ng-content select="[card-more]"></ng-content>
      </div>
    </div>
  </div>

</div>
