<div class="hero relative overflow-hidden bg-no-repeat bg-cover z-10" style="
    background-image: url('assets/imgs/heros/hero-seo.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
  ">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="relative max-w-5xl mx-auto h-full">
      <div
        class="absolute right-0 bottom-14 text-2xl md:text-2xl bg-tealy-700 ws-radius text-white pt-6 pb-5 px-6 inline-block mr-10">
        <h1>Improve your SEO - Get more customers</h1>
        <h2 class="text-base inline-block ws-radius w-auto mx-auto  bg-gray-100 p-1 px-2 mt-1 text-tealy-600">
          Free
          SEO Report</h2>

        <h2 class="hero__heading flex font-serif items-center flex-wrap my-2 group">
          <span class="text-8xl mt-2 font-normal">3 Simple Steps</span>
        </h2>
      </div>
    </div>

  </div>
</div>


<section class="main-content">

  <!-- 3 Steps -->
  <div class="3-steps flex justify-between space-x-5 pt-16 mt-10 mb-16">
    <div class="relative flex-1 items-center align-middle border border-teal-500 p-5 pt-12 rounded-md">
      <span class="steps">1</span>

      <div class="flex flex-col justify-between h-full">
        <div>
          <h1 class="text-2xl text-teal-700 text-center font-semibold">FREE SEO Report</h1>
          <p>We will review you site and detail how we can help you online presence and what we would expect to acheive!
          </p>
        </div>
        <div class="text-center">
          <button type="button" (click)="anchor($event)" data-anchor="seo-report" class="primary-btn-sm">
            FREE SEO Report
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="relative flex-1 items-center align-middle border border-teal-500 p-5 pt-12 rounded-md">
      <span class="steps">2</span>

      <div class="flex flex-col justify-between h-full">
        <div>
          <h1 class="text-2xl text-teal-700 text-center font-semibold">Sign up</h1>
          <p>Send us the domain name and we get to work!</p>
        </div>
        <div class="text-center">
          <button type="button" (click)="anchor($event)" data-anchor="seo-options" class="primary-btn-sm">
            View options
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>


    <div class="relative flex-1 items-center align-middle border border-teal-500 p-5 pt-12 rounded-md">
      <span class="steps">3</span>

      <div class="flex flex-col justify-between h-full">
        <div>
          <h1 class="text-2xl text-teal-700 text-center font-semibold">Done</h1>
          <p>We will send you monthly reports on the progress of SEO imporovements from Googe Analytics, Google Search
            console as well any other changes or planned improvement in follwoing month. We are so confident in our
            methods
            that you can cancel at anytime if you are not happy with results.</p>
        </div>
        <div class="text-center">
          <div
            class="inline-flex relative text-teal-700 px-3 py-2 text-lg bg-transparent transition duration-200 ease-in-out rounded-md items-center uppercase">
            Relax
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- SEO  -->
  <!-- <h1 class="text-4xl text-tealy-500 text-center mt-20 mb-5">SEO Package Options</h1> -->
  <h3 id="seo-options" class="product-heading">SEO Package
    Options</h3>
  <div class="grid grid-cols-1 gap-20 mb-10">

    <app-card-large>
      <img card-img data-testid="seo-reports" class=" w-1/2 object-cover"
        src="http://localhost:4200/assets/imgs/web-development.jpg" alt="placeholder">


      <div data-testid="header" card-header>SEO -Starter- (6 months)</div>
      <div card-body>Get started n the road to more customer and visitors to you site. We run tests on your site to
        see
        which area can be improved and where your pain points are. We work with you to fix these issues as well as
        making improvements to -bottom-2all area of you SEO and search engine visibility. We make sure your fully set
        up
        to track progress and monitor improvements. We help with all the below and more.</div>
      <div card-footer>
        <span class="tags">Google Ranking</span><span class="tags">Search Console</span><span class="tags">Google
          Analytics</span>
      </div>

      <div card-more class="text-right flex space-x-2">
        <button class="secondary-btn" (click)="anchor($event)" data-anchor="seo-report">FREE report
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <a class="primary-btn" href="#" target="_blank">Purchase
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>

    </app-card-large>
  </div>

</section>

<!-- testimonial section -->
<app-testimonial *ngIf="oneTestimonial else loadingTestimonial">
  <ng-container testimonial-image>
    <picture>
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.webp" type="image/webp">
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" type="image/jpeg">
      <img class="h-48 mb-14 md:mb-0 md:h-32 mx-auto object-cover object-center rounded-full shadow-md"
        src="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" alt="Steve Corio">
    </picture>
  </ng-container>

  <div testimonial-comment class="testimonial text-white text-2xl pb-5 leading-relaxed">
    <span class="font-serif heading_highlight bg-tealy-700 text-white py-2 pl-3 pr-2 mr-2">
      {{oneTestimonial.testimonialHighlight}}
    </span>
    {{oneTestimonial.testimonial}}
  </div>
  <div testimonial-client class="text-right pr-5">
    <h2 class="text-tealy-200 text-base">{{oneTestimonial.name}} - {{oneTestimonial.company}}</h2>
    <p class="text-tealy-200 text-xs">- {{oneTestimonial.location}}</p>
  </div>
</app-testimonial>

<ng-template #loadingTestimonial>
  <app-spinner></app-spinner>
</ng-template>

<!-- SEO report form -->
<section class="main-content">
  <app-seo-report-form></app-seo-report-form>
</section>

<!-- Past companies section -->
<app-companies></app-companies>
