<section class="container px-4 md:px-10 xl:px-0 mx-auto py-5 md:py-10 max-w-5xl">
  <h1 class="text-4xl font-semibold  text-gray-600 leading-relaxed font-serif">Some <span
      class="heading_highlight inline bg-raw-500 text-white py-1 px-2 mr-2 mb-4 font-bold">high level</span> <span
      class="heading_highlight inline bg-raw-700 text-white py-1 px-2 mr-2 mb-4 font-bold">info</span> on
    <span class="heading_highlight inline bg-raw-900 text-white py-1 px-2 mr-2 mb-4 font-bold">what I can do.</span>
  </h1>

  <div class="border-t-2 border-teal pt-5 my-2 rounded-md">

    <p class="text-xl pt-1 pb-0 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 -left-5 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>You can <a routerLink="/contact"
        class="inline-block group transition duration-300 border-b border-b-raw-500">contact me<span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
      if yada yad.. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sint esse necessitatibus fugiat ullam
      enim totam
      expedita atque. Culpa est doloremque nulla.
    </p>
  </div>
</section>

<!-- services offered section -->
<section *ngIf="allServicesData else loadingServices" class="container px-10 xl:px-0 mx-auto py-5 mb-10 max-w-5xl">

  <!-- Card / Large -->

  <div class="grid grid-cols-1 gap-20">
    <app-card-large *ngFor="let service of allServicesData; let even=even">
      <div *ngIf="even" card-img class="w-1/2">
        <picture>
          <source srcset="../../../../assets/imgs/{{service.imageName}}.webp" type="image/webp">
          <source srcset="../../../../assets/imgs/{{service.imageName}}.jpg" type="image/jpeg">
          <img #userImage class="w-full object-cover object-center rounded-l-lg shadow-md"
            src="../../../../assets/imgs/{{service.imageName}}.jpg" alt="{{service.imageName}}">
        </picture>
      </div>

      <ng-container card-header>{{service.heading}}</ng-container>
      <div card-body [innerHtml]="service.body"></div>
      <div card-footer *ngFor="let skill of service.footer"
        class="inline-block py-1 px-2 first:ml-0 last:mr-0 bg-gray-700 text-white text-sm rounded-md mx-1 mt-3">
        {{skill}}
      </div>

      <div card-more>
        <a class="absolute bottom-0 right-0 p-2 text-sm border-t border-l hover:text-tealy-700 hover:border-tealy-700 border-tealy-300 text-tealy-300 rounded-tl transition duration-150 ease-in-out"
          [routerLink]="['/contact']" routerLinkActive="is-active" aria-label="Contact Wide Sign">Get in touch</a>
        <!-- <button
          class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-500 hover:bg-tealy-600 transition duration-200 ease-in-out rounded-md"
          routerLink="{{service.url}}">Find out more
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </button> -->
      </div>

      <div *ngIf="!even" card-img-right class="w-1/2">
        <picture>
          <source srcset="../../../../assets/imgs/{{service.imageName}}.webp" type="image/webp">
          <source srcset="../../../../assets/imgs/{{service.imageName}}.jpg" type="image/jpeg">
          <img #userImage class="w-full object-cover object-center rounded-r-lg shadow-md"
            src="../../../../assets/imgs/{{service.imageName}}.jpg" alt="{{service.imageName}}">
        </picture>
      </div>

    </app-card-large>
  </div>
</section>

<ng-template #loadingServices>
  <app-spinner></app-spinner>
</ng-template>



<!-- testimonial section -->
<app-testimonial *ngIf="oneTestimonial else loadingTestimonial">
  <ng-container testimonial-image>
    <picture>
      <source srcset="../../../../assets/imgs/testimonials/{{oneTestimonial.image}}.webp" type="image/webp">
      <source srcset="../../../../assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" type="image/jpeg">
      <img class="h-32 mx-auto object-cover object-center rounded-full shadow-md"
        src="../../../../assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" alt="Steve Corio">
    </picture>
  </ng-container>

  <div testimonial-comment class="testimonial text-white text-2xl pb-5 leading-relaxed">
    <span class="font-serif heading_highlight bg-tealy-700 text-white py-2 pl-3 pr-2 mr-2">
      {{oneTestimonial.testimonialHighlight}}

    </span>
    {{oneTestimonial.testimonial}}
  </div>
  <div testimonial-client class="text-right pr-5">
    <h2 class="text-tealy-200 text-base">{{oneTestimonial.name}} - {{oneTestimonial.company}}</h2>
    <h3 class="text-tealy-200 text-xs">- {{oneTestimonial.location}}</h3>
  </div>
</app-testimonial>

<ng-template #loadingTestimonial>
  <app-spinner></app-spinner>
</ng-template>
