<app-heading>
  <ng-container text-one>Skills</ng-container>
  <ng-container text-two>and</ng-container>
  <ng-container text-three>Services</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one></ng-container>
  <ng-container sub-text-two>Find out more <a routerLink="/about"
      class="inline-block group transition duration-300 border-b border-b-raw-500">about me
      <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a> or
    check out some of my tooling and stack below.</ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<!-- services offered section -->
<section *ngIf="allServicesData else loadingServices" class="main-content">

  <!-- Card / Large -->
  <div class="grid grid-cols-1 gap-20">
    <app-card-large *ngFor="let service of allServicesData; let even=even">
      <div *ngIf="even" card-img class="md:w-1/3 flex-none">
        <picture>
          <source srcset="assets/imgs/{{service.imageName}}.webp" type="image/webp">
          <source srcset="assets/imgs/{{service.imageName}}.jpg" type="image/jpeg">
          <img #userImage class="h-60 object-cover object-center md:rounded-l-lg shadow-md"
            src="assets/imgs/{{service.imageName}}.jpg" alt="{{service.imageName}}">
        </picture>
      </div>

      <ng-container card-header>{{service.heading}}</ng-container>
      <div card-body [innerHtml]="service.body"></div>
      <div card-footer *ngFor="let skill of service.footer"
        class="inline-block py-1 px-2 first:ml-0 last:mr-0 bg-gray-700 text-white text-sm rounded-md mx-1 mt-3">
        {{skill}}
      </div>

      <div card-more class="text-right">
        <!-- <a class="absolute bottom-0 right-0 p-2 text-sm border-t border-l hover:text-tealy-700 hover:border-tealy-700 border-tealy-300 text-tealy-300 rounded-tl transition duration-150 ease-in-out"
          [routerLink]="['/contact']" routerLinkActive="is-active" aria-label="Contact Wide Sign">Get in touch</a> -->
        <a class="inline-flex relative text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
          href="{{service.url}}" target="_blank">Get in touch
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>



      <div *ngIf="!even" card-img-right class="md:w-1/3 flex-none">
        <picture>
          <source srcset="assets/imgs/{{service.imageName}}.webp" type="image/webp">
          <source srcset="assets/imgs/{{service.imageName}}.jpg" type="image/jpeg">
          <img #userImage class="h-60 object-cover object-center md:rounded-r-lg shadow-md"
            src="assets/imgs/{{service.imageName}}.jpg" alt="{{service.imageName}}">
        </picture>
      </div>

    </app-card-large>
  </div>
</section>

<ng-template #loadingServices>
  <app-spinner></app-spinner>
</ng-template>



<!-- testimonial section -->
<app-testimonial *ngIf="oneTestimonial else loadingTestimonial">
  <ng-container testimonial-image>
    <picture>
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.webp" type="image/webp">
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" type="image/jpeg">
      <img class="h-48 mb-14 md:mb-0 md:h-32 mx-auto object-cover object-center rounded-full shadow-md"
        src="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" alt="Steve Corio">
    </picture>
  </ng-container>

  <div testimonial-comment class="testimonial text-white text-2xl pb-5 leading-relaxed">
    <span class="font-serif heading_highlight bg-tealy-700 text-white py-2 pl-3 pr-2 mr-2">
      {{oneTestimonial.testimonialHighlight}}
    </span>
    {{oneTestimonial.testimonial}}
  </div>
  <div testimonial-client class="text-right pr-5">
    <h2 class="text-tealy-200 text-base">{{oneTestimonial.name}} - {{oneTestimonial.company}}</h2>
    <h3 class="text-tealy-200 text-xs">- {{oneTestimonial.location}}</h3>
  </div>
</app-testimonial>

<ng-template #loadingTestimonial>
  <app-spinner></app-spinner>
</ng-template>
