<section class="px-10 xl:px-0 p-36 w-full" style="
background-image:url('../../../../assets/imgs/paralax/testimonial-paralax.webp');
background-repeat: no-repeat;
background-position: top left;
background-size: cover !important;
background-attachment: fixed !important;
    ">
  <div class="md:flex flex-wrap md:flex-nowrap md:space-x-5 mx-auto max-w-5xl">
    <div class="md:w-1/5">
      <ng-content select="[testimonial-image]">
      </ng-content>
    </div>
    <div class="md:w-4/5">
      <ng-content select="[testimonial-comment]">
      </ng-content>
      <ng-content select="[testimonial-client]"></ng-content>
    </div>
  </div>
</section>
