<app-heading>
  <ng-container text-one>Privacy</ng-container>
  <ng-container text-two>/</ng-container>
  <ng-container text-three>Cookies</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>Privacy information
  </ng-container>
  <ng-container sub-text-two></ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<section class="xl:px-0 py-60 px-10 md:px-20 w-full relative overflow-hidden" style="
background-image:url('assets/imgs/paralax/privacy-paralax.webp');
background-repeat: no-repeat;
background-position: bottom center;
background-size: cover !important;
background-attachment: fixed !important;
    ">

  <h1
    class="text-xl md:text-3xl font-serif heading_highlight bg-tealy-700 text-white py-3 pl-3 pr-2  top-20 absolute right-0 max-w-3xl mx-auto inline-block leading-snug">
    "We don't collect data, track your movements or drop any cookies on your machine without your consent."
  </h1>
</section>

<section class="main-content">
  <div class="pt-5 my-3 rounded-md">

    <h3 class="heading-3">Privacy policy</h3>
    <h4>Who we are</h4>
    <p class="standard-paragraph">
      Our website address is: https://widesign.co.uk
    </p>

    <h4>Who we share your data with</h4>
    <p class="standard-paragraph">
      If you request a login for admin or guest purposes, we may ask for your email to send you the details around
      logging in. We don't store your email for any marketing purposes or share it with any third parties.
    </p>

    <h4>How long we retain your data</h4>
    <p class="standard-paragraph">
      We don't retain data on you at Widesign.
    </p>

    <h4>Third parties</h4>
    <p class="standard-paragraph">
      If you have hosting with us and use the control panels for managing you hosting or email or use the 'domain name
      finder tool these site will likely use cookies. You are encouraged to check their privacy policy and cookie policy
      if using such services.
    </p>

    <h3 class="heading-3">Cookie policy </h3>
    <h4>Cookies - General</h4>
    <p class="standard-paragraph">
      Cookies are very small text files that are stored on your computer when you visit a website. We use a few cookies
      for a to enhance your online experience on our website (for example, to remember your account login details).
    </p>
    <p class="standard-paragraph">
      You can change your preferences and decline certain types of cookies to be stored on your computer while browsing
      our website. You can also remove any cookies already stored on your computer, but keep in mind that deleting
      cookies may prevent you from using parts of our website. See the cookie preferences in the footer to change your
      settings.
    </p>
    <h4>Login</h4>
    <p class="standard-paragraph">
      If you login as admin or guest we will drop a small cookie (wsat) to rembember who you are and what your role is
      to allow you access to that roles priviledges on the website. This cookie contains no personal data and is
      discarded when you logout of the website otherwise the cookies will last for one year.
    </p>
    <h4>Anayltics</h4>
    <p class="standard-paragraph">
      If you accept our cookie policy 'Google Analytics' cookies at set to help us mointor website usage and behaviour.
    </p>

    <h4>Contact</h4>
    <p class="standard-paragraph">
      We will update this policy periodically if we implement any further tracking that adds cookies to you machine to
      keep you informed. Any queries please <a class="primary-link" href="mailto:elton@widesign.co.uk">email</a>.
    </p>
  </div>

</section>
