<div class="md:flex">
  <ng-content select="[card-img]"></ng-content>

  <div class="relative md:w-1/2">
    <div class="bg-white px-5 pt-2 pb-5 rounded-b-md shadow-lg">

      <h4 class="pb-2 text-xl font-semibold leading-tight">
        <ng-content select="[card-header]"></ng-content>
      </h4>

      <div class="mt-1">
        <p class="text-gray-600 text-base">
          <ng-content select="[card-body]"></ng-content>
        </p>
      </div>

      <div class="mt-1">
        <p class="text-gray-600 text-sm">
          <ng-content select="[card-footer]"></ng-content>
        </p>
      </div>

      <div class=" pt-6">
        <ng-content select="[card-more]"></ng-content>
      </div>

    </div>
  </div>

  <ng-content select="[card-img-right]"></ng-content>

</div>
