<app-heading>
  <ng-container text-one>404</ng-container>
  <ng-container text-two>Page not</ng-container>
  <ng-container text-three>found!</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>This is somewhat embarrassing, isn't it?</ng-container>
  <ng-container sub-text-two>Try the
    <a routerLink="/" class="inline-block group transition duration-300 border-b border-b-raw-500">homepage,<span
        class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span>
    </a>
    otherwise you could leave some nice <a routerLink="/contact"
      class="inline-block group transition duration-300 border-b border-b-raw-500">feedback.<span
        class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
  </ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<section class="px-10 xl:px-0 p-36 w-full" style="
background-image:url('assets/imgs/page-not-found.webp');
background-repeat: no-repeat;
background-position: center center;
background-size: cover !important;
height: 500px;
/* background-attachment: fixed !important; */
    ">
</section>
