<app-heading>
  <ng-container text-one>Existing</ng-container>
  <ng-container text-two>clients</ng-container>
  <ng-container text-three></ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>Sign in to your existing hosting account, make an outstanding payment, add a new email
    address and more.</ng-container>
  <ng-container sub-text-two></ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<!-- Client information info section -->
<section *ngIf="allClientInfo else loadingClientStuff" class="main-content">

  <div class="grid md:grid-cols-2 gap-14">
    <ng-container *ngFor="let client of allClientInfo">
      <!-- Show public/client services info -->
      <a href="{{client.url}}" target="_blank" class="group">


        <app-card *ngIf="!client.private">
          <div card-img class="h-52 transition ease-in-out group-hover:scale-105 scale-100 duration-300 transform-gpu">
            <picture>
              <source srcset="assets/imgs/{{client.imageName}}.webp" type="image/webp">
              <source srcset="assets/imgs/{{client.imageName}}.jpg" type="image/jpeg">
              <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
                src="assets/imgs/{{client.imageName}}.jpg" alt="{{client.imageName}}">
            </picture>
          </div>

          <ng-container card-header>{{client.heading}}</ng-container>
          <ng-container card-sub-header>{{client.subHeading}}</ng-container>
          <div card-body>{{client.description}}</div>

          <div card-more class="flex gap-x-2">

            <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url}}" target="_blank">{{client.urlText}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a *ngIf="client.url2"
              class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url2}}" target="_blank">{{client.urlText2}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a *ngIf="client.url3"
              class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url3}}" target="_blank">{{client.urlText3}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </app-card>

        <!-- Show my admin helpers/tools if logged in -->
        <app-card *ngIf="client.private && this.authService.userRole === 'ROLE_ADMIN'">
          {{client.private}}
          <div card-img class="h-52 transition ease-in-out group-hover:scale-105 scale-100 duration-300 transform-gpu">
            <picture>
              <source srcset="assets/imgs/{{client.imageName}}.webp" type="image/webp">
              <source srcset="assets/imgs/{{client.imageName}}.jpg" type="image/jpeg">
              <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
                src="assets/imgs/{{client.imageName}}.jpg" alt="{{client.imageName}}">
            </picture>
          </div>

          <ng-container card-header>{{client.heading}} {{client.private}}</ng-container>
          <ng-container card-sub-header>{{client.subHeading}}</ng-container>
          <div card-body>{{client.description}}</div>

          <div card-more class="flex gap-x-2">

            <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url}}" target="_blank">{{client.urlText}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a *ngIf="client.url2"
              class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url2}}" target="_blank">{{client.urlText2}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a *ngIf="client.url3"
              class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
              href="{{client.url3}}" target="_blank">{{client.urlText3}}
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>

        </app-card>
      </a>
    </ng-container>
  </div>

</section>

<ng-template #loadingClientStuff>
  <app-spinner></app-spinner>
</ng-template>
