<section class="container px-4 md:px-10 xl:px-0 mx-auto py-10 md:pt-10 max-w-5xl">

  <h1 class="text-4xl font-semibold  text-gray-600 leading-relaxed font-serif"><span
      class="heading_highlight inline bg-raw-500 text-white py-1 px-2 mr-2 mb-4 font-bold">Existing</span> <span
      class="heading_highlight inline bg-raw-700 text-white py-1 px-2 mr-2 mb-4 font-bold">clients</span> find
    <span class="heading_highlight inline bg-raw-900 text-white py-1 px-2 mr-2 mb-4 font-bold">it here</span>
  </h1>

  <div class="border-t-2 border-teal pt-5 my-3 rounded-md">

    <p class="text-xl pt-1 pb-0 pl-7 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 left-1 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>You should be able to find what your looking for. 👀

    </p>
    <p class="text-xl pt-1 pb-0 pl-7 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 left-1 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>Sign in to your existing hosting account, make an outstanding payment, add a new email address and more.
    </p>
  </div>
</section>

<!-- Client information info section -->
<section *ngIf="allClientInfo else loadingClientStuff" class="container md:px-10 xl:px-0 mx-auto pb-5 mb-10 max-w-5xl">

  <div class="grid md:grid-cols-2 gap-14">
    <ng-container *ngFor="let client of allClientInfo">
      <!-- Show public/client services info -->
      <app-card *ngIf="!client.private">

        <div card-img class="h-52">
          <picture>
            <source srcset="../../../../assets/imgs/{{client.imageName}}.webp" type="image/webp">
            <source srcset="../../../../assets/imgs/{{client.imageName}}.jpg" type="image/jpeg">
            <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
              src="../../../../assets/imgs/{{client.imageName}}.jpg" alt="{{client.imageName}}">
          </picture>
        </div>

        <ng-container card-header>{{client.heading}}</ng-container>
        <ng-container card-sub-header>{{client.subHeading}}</ng-container>
        <div card-body>{{client.description}}</div>

        <div card-more class="flex gap-x-2">

          <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url}}" target="_blank">{{client.urlText}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
          <a *ngIf="client.url2"
            class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url2}}" target="_blank">{{client.urlText2}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
          <a *ngIf="client.url3"
            class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url3}}" target="_blank">{{client.urlText3}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </app-card>

      <!-- Show my admin helpers/tools if logged in -->
      <app-card *ngIf="client.private && this.authService.isLoggedIn">

        <div card-img class="h-52">
          <picture>
            <source srcset="../../../../assets/imgs/{{client.imageName}}.webp" type="image/webp">
            <source srcset="../../../../assets/imgs/{{client.imageName}}.jpg" type="image/jpeg">
            <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
              src="../../../../assets/imgs/{{client.imageName}}.jpg" alt="{{client.imageName}}">
          </picture>
        </div>

        <ng-container card-header>{{client.heading}}</ng-container>
        <ng-container card-sub-header>{{client.subHeading}}</ng-container>
        <div card-body>{{client.description}}</div>

        <div card-more class="flex gap-x-2">

          <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url}}" target="_blank">{{client.urlText}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
          <a *ngIf="client.url2"
            class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url2}}" target="_blank">{{client.urlText2}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
          <a *ngIf="client.url3"
            class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            href="{{client.url3}}" target="_blank">{{client.urlText3}}
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>

      </app-card>

    </ng-container>
  </div>

</section>

<ng-template #loadingClientStuff>
  <app-spinner></app-spinner>
</ng-template>
