<app-heading>
  <ng-container text-one>Playground</ng-container>
  <ng-container text-two>/</ng-container>
  <ng-container text-three>dashboard</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>Private stuff to share</ng-container>
  <ng-container sub-text-two></ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>


<!-- Dashboard stuff -->
<section class="main-content">
  <div class="grid md:grid-cols-2 gap-14">

    <!-- Portfolio -->
    <app-card>
      <div card-img class="h-40">
        <picture>
          <source srcset="assets/imgs/portfolio.webp" type="image/webp">
          <source srcset="assets/imgs/portfolio.jpg" type="image/jpeg">
          <img #userImage class="w-full object-cover object-center rounded-lg shadow-md" src="assets/imgs/portfolio.jpg"
            alt="webdesign">
        </picture>
      </div>

      <ng-container card-header>Portfolio</ng-container>
      <ng-container card-sub-header>Some previous work</ng-container>
      <div card-body>Projects I have been involved in whilst working for ingenie, Sheilas Wheels and the esure Group.
      </div>

      <div card-more class="flex gap-x-2">
        <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
          routerLink="/playground/portfolio">
          Portfolio
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </app-card>


    <!-- Side Projects -->
    <app-card>
      <div card-img class="h-40">
        <picture>
          <source srcset="assets/imgs/revision.webp" type="image/webp">
          <source srcset="assets/imgs/revision.jpg" type="image/jpeg">
          <img #userImage class="w-full object-cover object-center rounded-lg shadow-md" src="assets/imgs/revision.jpg"
            alt="webdesign">
        </picture>
      </div>

      <ng-container card-header>Side projects</ng-container>
      <ng-container card-sub-header>WIP - stuff I built</ng-container>
      <div card-body>Things I have built in spare time - stranger things quiz / etc...
      </div>

      <div card-more class="flex gap-x-2">
        <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
          routerLink="/playground/side-projects">
          Side projects
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </app-card>

    <!-- Interview -->
    <ng-container *ngIf="this.authService.userRoles() === 'ROLE_ADMIN'">
      <app-card>
        <div card-img class="h-40">
          <picture>
            <source srcset="assets/imgs/interview.webp" type="image/webp">
            <source srcset="assets/imgs/interview.jpg" type="image/jpeg">
            <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
              src="assets/imgs/interview.jpg" alt="webdesign">
          </picture>
        </div>

        <ng-container card-header>Interview / Revision stuff</ng-container>
        <ng-container card-sub-header>WIP - helpers / things I use</ng-container>
        <div card-body>Keep it all in one place when I gather resources etc. to help with interviews
        </div>

        <div card-more class="flex gap-x-2">
          <a class="inline-flex text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
            routerLink="/playground/interview-revision">
            Interview / Revision
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </app-card>
    </ng-container>

  </div>

</section>

<!-- <ng-template #loadingClientStuff>
  <app-spinner></app-spinner>
</ng-template> -->
