<app-heading>
  <ng-container text-one>Side</ng-container>
  <ng-container text-two>projects</ng-container>
  <ng-container text-three></ng-container>
</app-heading>

<app-breadcrumbs></app-breadcrumbs>


<section class="main-content">

  <!-- <h3 class="heading-3">Stranget Things -Quiz Night</h3>
  <p class="standard-paragraph text-raw-400 text-lg font-thin">
    A project created for 'Stranger Things' fans. (and my kids)
  </p> -->
  <ng-container *ngIf="sideProjects">

    <div class="grid md:grid-cols-3 gap-14">

      <a class="text-tealy-500 group" href="{{project.url}}" target="_blank" *ngFor="let project of sideProjects">
        <app-card>
          <div card-img
            class="h-44 md:group-hover:scale-105 scale-100 duration-300 md:group-hover:translate-y-4 transform-gpu">
            <picture>
              <source srcset="/assets/imgs/side-projects/{{project.imageName}}.webp" type="image/webp">
              <source srcset="/assets/imgs/side-projects/{{project.imageName}}.jpg" type="image/jpeg">
              <img #userImage class="w-full object-cover object-center rounded-lg shadow-md"
                src="/assets/imgs/side-projects/{{project.imageName}}.jpg" alt="webdesign">
            </picture>
          </div>

          <ng-container card-sub-header>{{project.heading}}</ng-container>

        </app-card>
      </a>
    </div>

  </ng-container>

</section>
