<app-heading>
  <ng-container text-one>F</ng-container>
  <ng-container text-two>A</ng-container>
  <ng-container text-three>Q's</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>Fingers crossed I got all your questions anwsered here! Else, its to the <a
      routerLink="/contact" class="inline-block group transition duration-300 border-b border-b-raw-500">contact
      page<span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
    with you.
  </ng-container>
  <ng-container sub-text-two></ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<section class="main-content">
  <app-accordion [parentData]="allQuestions"></app-accordion>
</section>

<!-- testimonial section -->
<app-testimonial *ngIf="oneTestimonial else loadingTestimonial">
  <ng-container testimonial-image>
    <picture>
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.webp" type="image/webp">
      <source srcset="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" type="image/jpeg">
      <img class="h-48 mb-14 md:mb-0 md:h-32 mx-auto object-cover object-center rounded-full shadow-md"
        src="assets/imgs/testimonials/{{oneTestimonial.image}}.jpg" alt="Steve Corio">
    </picture>
  </ng-container>

  <div testimonial-comment class="testimonial text-white text-2xl pb-5 leading-relaxed">
    <span class="font-serif heading_highlight bg-tealy-700 text-white py-2 pl-3 pr-2 mr-2">
      {{oneTestimonial.testimonialHighlight}}
    </span>
    {{oneTestimonial.testimonial}}
  </div>
  <div testimonial-client class="text-right pr-5">
    <h2 class="text-tealy-200 text-base">{{oneTestimonial.name}} - {{oneTestimonial.company}}</h2>
    <h3 class="text-tealy-200 text-xs">- {{oneTestimonial.location}}</h3>
  </div>
</app-testimonial>


<ng-template #loadingTestimonial>
  <app-spinner></app-spinner>
</ng-template>
