<!-- Blub section -->
<section class="container px-4 md:px-10 xl:px-0 mx-auto py-10 md:py-20 max-w-5xl">
  <h1 class="text-4xl font-semibold  text-gray-600 leading-relaxed font-serif">Hi my name is Elton and I <span
      class="heading_highlight inline bg-raw-500 text-white py-1 px-2 mr-2 mb-4 font-bold">build for the
      web</span>. My goal is to create <span
      class="heading_highlight inline bg-raw-700 text-white py-1 px-2 mr-2 mb-4 font-bold">great user
      experiences</span> whilst <span
      class="heading_highlight inline bg-raw-900 text-white py-1 px-2 mr-2 mb-4 font-bold">delivering clients
      requirements.</span> Plus, have some fun along the way...</h1>
  <div class="border-t-2 border-teal pt-5 my-2 rounded-md">
    <p class="text-xl pt-2 pb-0 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 -left-5 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>I live in the South-East England with my
      family and dog Woody!
    </p>
    <p class="text-xl pt-1 pb-0 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 -left-5 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>
      I work on javascript projects (Angular
      mainly), quite often involved in the design phase too.
    </p>
    <!-- <p class="text-xl pt-1 pb-0 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 -left-5 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>You can read <a routerLink="/contact" class="border-b hover:border-b-2 border-b-raw-500">more about me</a>
      and see if I
      fit the bill for your next project. Maybe
      you could even help me. 😄
    </p> -->
    <p class="text-xl pt-1 pb-0 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 -left-5 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>You can read <a routerLink="/contact"
        class="inline-block group transition duration-300 border-b border-b-raw-500">more
        about
        me<span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
      and see if I
      fit the bill for your next project. Maybe
      you could even help me. 😄
    </p>
  </div>
</section>

<!-- Services panel -->
<app-panel></app-panel>

<!-- Call back from section -->
<section class="container call-back px-10 xl:px-0 mx-auto py-8 md:py-20 max-w-5xl">
  <div class="grid md:grid-cols-2 gap-14 px-0 md:px-10 xl:px-0 mx-auto py-20 max-w-5xl">
    <app-call-back></app-call-back>
    <picture>
      <source srcset="../../../../assets/imgs/profile.webp" type="image/webp">
      <source srcset="../../../../assets/imgs/profile.jpg" type="image/jpeg">
      <img class="w-full object-cover object-center rounded-lg shadow-md" src="../../../../assets/imgs/profile.jpg"
        alt="Elton Whybrow">
    </picture>

  </div>
</section>

<!-- Past companies section -->
<app-companies></app-companies>
