<footer class="py-10 px-2 bg-tealy-500 text-white relative items-center overflow-hidden w-full">
  <div
    class="container max-w-5xl md:space-x-16 mx-auto pt-5 md:pt-12 pb-10 w-full md:flex items-start justify-between text-center z-50">

    <!-- Alt menu and Admin -->
    <div class="w-full md:w-80 flex-1">
      <div class="border-2 border-tealy-900 rounded mb-10">
        <h2 class="font-serif heading_highlight bg-tealy-900 text-white p-2 mb-3 font-semibold text-2xl">Admin
        </h2>
        <ul class="text-lg px-3 pb-3 text-left">
          <p *ngIf="authService.isLoggedIn" class="inline-block font-semibold text-base text-tealy-900">Welcome back,
            {{this.authService.nickname}}!</p>
          <li *ngIf="!authService.isLoggedIn">
            <a routerLink="/login" aria-label="Login"
              class="inline-flex text-white my-1 p-1 pl-2 bg-tealy-600 hover:bg-tealy-700 transition duration-200 ease-in-out rounded-md items-center">
              Login
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>

            </a>
          </li>
          <li *ngIf="authService.isLoggedIn">
            <a (click)="logout()" aria-label="Logout"
              class="inline-flex text-white my-1 p-1 pl-2 bg-tealy-600 hover:bg-tealy-700 transition duration-200 ease-in-out rounded-md items-center">
              Logout
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="border-2 border-tealy-900 rounded mb-10">
        <h2 class="font-serif heading_highlight bg-tealy-900 text-white p-2 mb-3 font-semibold text-2xl">Elsewhere
        </h2>
        <ul class="px-3 pb-3 text-left">
          <li>
            <a class="secondary-link" routerLink="/privacy-policy" routerLinkActive="is-active"
              aria-label="Clients">Privacy policy</a>
          </li>
          <ng-container *ngIf="authService.isLoggedIn">
            <li>
              <a class="secondary-link" routerLink="/playground/portfolio" routerLinkActive="is-active"
                aria-label="Portfolio">Portfolio</a>
            </li>
            <li>
              <a class="secondary-link" routerLink="/playground/side-projects" routerLinkActive="is-active"
                aria-label="Side Porjects">Side Projects</a>
            </li>
            <li>
              <a class="secondary-link" routerLink="/playground/interview-revision" routerLinkActive="is-active"
                aria-label="Interview">Interview/Revision</a>
            </li>
          </ng-container>


        </ul>
      </div>


      <!-- Instagram feed -->
      <ng-container *ngIf="instaFeed">
        <div class="border-2 border-tealy-900 rounded mb-10">
          <h2 class="instagram font-serif heading_highlight bg-tealy-900 text-white p-2 font-semibold text-2xl">
            <span>eltongram</span>
          </h2>
          <ul class="flex flex-wrap items-center p-1">
            <li class=" p-1 w-1/4 gap-1" *ngFor="let post of instaFeed">
              <a href="{{post.permalink}}" target="_blank">
                <img *ngIf="post.media_type === 'IMAGE'" src="{{post.media_url}}" alt="{{post.caption}}" width="100px"
                  height="100px" class="m-auto w-28 h-28 object-cover object-center">
                <img *ngIf="post.thumbnail_url" src="{{post.thumbnail_url}}" alt="{{post.caption}}" width="100px"
                  height="100px" class="m-auto w-28 h-28 object-cover object-center">
              </a>
              <!-- {{post.permalink}}
            {{post.media_url}}
            {{post.caption}} -->
            </li>
          </ul>
        </div>
      </ng-container>

    </div>

    <!-- Twitter Feed API V2.0 -->
    <ng-container *ngIf="twitterFeed">
      <div class="mt-6 md:mt-0 flex-1">
        <div class="border-2 border-tealy-900 rounded">
          <h2 class="twitter font-serif heading_highlight bg-tealy-900 text-white p-2 font-semibold text-2xl">
            <span>@eltonwhybrow</span>
          </h2>
          <ul>
            <li *ngFor="let tweet of twitterFeed?.data"
              class="border-b rounded border-tealy-900 relative p-4 pb-6 pr-10 my-5 last:border-b-0 flex justify-center">

              <ng-container *ngIf="tweet?.entities?.urls;">
                <div *ngFor="let img of tweet?.entities?.urls[0].images; let i=index" class="flex-none pr-3">
                  <a href="//twitter.com/eltonwhybrow/status/{{tweet.id}}" target="_blank">
                    <img *ngIf="i===1" src="{{img.url}}" alt="{{img.url}}" width="100px" height="100px"></a>
                </div>
              </ng-container>

              <p>
                <a class="hover:underline" href="//twitter.com/eltonwhybrow/status/{{tweet.id}}" target="_blank">
                  {{tweet.text}}
                </a>
              </p>

              <span class="absolute -bottom-2 right-5 bg-raw-900 rounded-md text-sm h-5 w-auto px-2">
                Likes {{tweet.public_metrics.like_count}} /
                Retweets {{tweet.public_metrics.retweet_count}}</span>

            </li>
          </ul>
        </div>

      </div>
    </ng-container>

  </div>


  <div class="text-center w-full text-lg pt-36">WideSign Design &amp; Development - Surrey, UK
  </div>
  <div class="text-center w-full text-xs pb-12">Based in Redhill &amp; Reigate area but the internet reaches worldwide
  </div>

  <!-- Socials -->
  <div class="w-full md:flex-1 text-sm">
    <div class="flex justify-center">
      <a href="https://www.linkedin.com/in/elton-whybrow/" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/linkedin-icon.png" alt="LinkedIn"
          aria-label="LinkedIn" width="32px" height="32px" />
      </a>
      <a href="https://twitter.com/eltonwhybrow" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/twitter-icon.png" alt="Twitter"
          aria-label="Twitter" width="32px" height="32px" />
      </a>
      <a href="https://www.instagram.com/eltongram/" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/instagram-icon.png" alt="Instagram"
          aria-label="Instagram" width="32px" height="32px" /></a>
      <a href="https://github.com/EltonWhybrow" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/github-icon.png" alt="Github"
          aria-label="Github" width="32px" height="32px" />
      </a>
    </div>

  </div>

  <!-- Copyright -->
  <p class="text-xs w-full text-center pt-3">&copy; WideSign Ltd {{ year }} | Registered in England and Wales |
    Company No. 14047437</p>
  <!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->
  <p class="text-xs w-full text-center pt-1"><a href="#" id="open_preferences_center" class="secondary-link">Cookies
      preferences</a></p>

</footer>
