<footer class="py-10 px-2 bg-tealy-500 text-white relative items-center overflow-hidden w-full">

  <!-- Socials -->
  <div class="w-full md:flex-1 text-sm">
    <div class="flex justify-center">
      <a href="https://www.linkedin.com/in/elton-whybrow/" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/linkedin-icon.png" alt="LinkedIn"
          aria-label="LinkedIn" width="32px" height="32px" />
      </a>
      <a href="https://twitter.com/eltonwhybrow" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/twitter-icon.png" alt="Twitter"
          aria-label="Twitter" width="32px" height="32px" />
      </a>
      <a href="https://www.instagram.com/eltongram/" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/instagram-icon.png" alt="Instagram"
          aria-label="Instagram" width="32px" height="32px" /></a>
      <a href="https://github.com/EltonWhybrow" target="_blank" rel="noopener"
        class="opacity-100 hover:opacity-80 transition-opacity ease-in-out p-1 duration-300 flex-initial">
        <img class="inline-block h-16 w-16 md:w-8 md:h-8" src="assets/icons/social/github-icon.png" alt="Github"
          aria-label="Github" width="32px" height="32px" />
      </a>
    </div>

  </div>

  <!-- Copyright -->
  <p class="text-xs w-full text-center pt-3">Elton Whybrow {{ year }} | <a target="_blank" href="https://widesign.co.uk"
      class="secondary-link">WideSign</a></p>
</footer>