<app-heading>
  <ng-container text-one>Portfolio</ng-container>
  <ng-container text-two>/</ng-container>
  <ng-container text-three>Work</ng-container>
</app-heading>


<!-- protfolio section -->
<section *ngIf="allPortfolioData else loadingServices" class="main-content">
  <!-- Card / Large -->
  <div class="grid grid-cols-1 gap-20">
    <app-card-large *ngFor="let item of allPortfolioData; let even=even" class="group">

      <div *ngIf="even" card-img
        class="hidden md:block md:w-2/5 md:group-hover:scale-105 scale-100 duration-300 md:group-hover:translate-y-4 transform-gpu">
        <picture>
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.webp" type="image/webp">
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.jpg" type="image/jpeg">
          <img #userImage data-testid="portfolioImage" class="object-cover object-center md:rounded-l-lg shadow-md"
            src="assets/imgs/portfolio/{{item.imageName}}.jpg" alt="{{item.imageName}}">
        </picture>
      </div>

      <div card-img
        class="md:hidden md:w-2/5 md:group-hover:scale-105 scale-100 duration-300 md:group-hover:translate-y-4 transform-gpu">
        <picture>
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.webp" type="image/webp">
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.jpg" type="image/jpeg">
          <img #userImage data-testid="portfolioImage" class="object-cover object-center md:rounded-l-lg shadow-md"
            src="assets/imgs/portfolio/{{item.imageName}}.jpg" alt="{{item.imageName}}">
        </picture>
      </div>

      <div data-testid="header" card-header>{{item.heading}}</div>
      <div card-body [innerHtml]="item.body"></div>
      <div card-footer *ngFor="let skill of item.footer"
        class="inline-block py-1 px-2 first:ml-0 last:mr-0 bg-gray-700 text-white text-sm rounded-md mx-1 mt-3">
        {{skill}}
      </div>

      <div card-more class="text-right">
        <!-- <a class="absolute bottom-0 right-0 p-2 text-sm border-t border-l hover:text-tealy-700 hover:border-tealy-700 border-tealy-300 text-tealy-300 rounded-tl transition duration-150 ease-in-out"
          [routerLink]="['/contact']" routerLinkActive="is-active" aria-label="Contact Wide Sign">Get in touch</a> -->
        <a class="inline-flex relative text-white pl-3 pr-2 py-2 text-sm bg-tealy-400 hover:bg-tealy-500 transition duration-200 ease-in-out rounded-md"
          routerLink="{{item.url}}">Assets
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>

      <div *ngIf="!even" card-img-right
        class="hidden md:block  md:w-2/5 md:group-hover:scale-105 scale-100 duration-300 md:group-hover:translate-y-4 transform-gpu">
        <picture>
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.webp" type="image/webp">
          <source srcset="assets/imgs/portfolio/{{item.imageName}}.jpg" type="image/jpeg">
          <img #userImage class="object-cover object-center md:rounded-r-lg shadow-md"
            src="assets/imgs/portfolio/{{item.imageName}}.jpg" alt="{{item.imageName}}">
        </picture>
      </div>

    </app-card-large>
  </div>
</section>

<ng-template #loadingServices>
  <app-spinner></app-spinner>
</ng-template>