<app-heading>
  <ng-container text-one>Not</ng-container>
  <ng-container text-two>authorised</ng-container>
  <ng-container text-three>!</ng-container>
</app-heading>

<app-sub-headings>
  <ng-container sub-text-one>You have to <a routerLink="/login"
      class="inline-block group transition duration-300 border-b border-b-raw-500">log
      in<span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a> to
    access this content!

  </ng-container>
  <ng-container sub-text-two><a routerLink="/contact"
      class="inline-block group transition duration-300 border-b border-b-raw-500">Contact
      Elton.<span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
    if you think you should have access.</ng-container>
  <ng-container sub-text-three></ng-container>
</app-sub-headings>

<!-- <section class="main-content">
  <h1 class="text-4xl font-semibold  text-gray-600 leading-relaxed font-serif"><span
      class="heading_highlight inline bg-raw-500 text-white py-1 px-2 mr-2 mb-4 font-bold">Not</span> <span
      class="heading_highlight inline bg-raw-700 text-white py-1 px-2 mr-2 mb-4 font-bold">authorised</span>
    <span class="heading_highlight inline bg-raw-900 text-white py-1 px-2 mr-2 mb-4 font-bold">!</span>
  </h1>

  <div class="border-t-2 border-teal pt-5 my-2">
    <p class="text-xl pt-1 pb-0 pl-7 leading-relaxed text-gray-600 font-semibold relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-4 h-4 absolute top-1 left-1 text-raw-500 font-bold">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25" />
      </svg>
      This is somewhere you cannot go unless logged in! If you think you should have access
      <a routerLink="/contact" class="inline-block group transition duration-300 border-b border-b-raw-500">contact
        Elton.<span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-raw-600"></span></a>
    </p>

  </div> -->
