# Generated with ngx-htaccess-generator v1.2.0
# Check for updates: https://julianpoemp.github.io/ngx-htaccess-generator/
#
# Transparency notice: Some parts were extracted from
# Apache Server Configs v5.0.0 | MIT License
# https://github.com/h5bp/server-configs-apache
# Extracted parts are wrapped by "START Extract from ASC"


# <IfModule mod_headers.c>
#   # Set allow Access-Control-Allow-Origin header

#   SetEnvIf Origin "http(s)?://(www\\.)?(anotherwebsite|ddd.com)$" AccessControlAllowOrigin=$0
#   Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
#   Header merge Vary Origin
# </IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

# -------------------
  # Redirection to HTTPS:
# -------------------
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# -------------------
# Redirection of requests to index.html TODO: INFORM ONESSELF
# -------------------
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^.*$ - [NC,L]
# Redirect all non-file routes to index.html
RewriteRule ^(?!.*\.).*$ index.html [NC,L]

# -------------------
# Unsupported Browsers
# -------------------
RewriteCond %{HTTP_USER_AGENT} (MSIE|Trident) [NC]
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.jpg|\.jpeg|\.png|\.gif|\.pdf)$ [NC]
RewriteCond %{REQUEST_URI} !resources [NC]
RewriteCond %{REQUEST_URI} !/unsupportedl$ [NC]
RewriteRule (.*) http://%{SERVER_NAME}/unsupported [R=301,L,E=nocache:1]

</IfModule>


