<app-heading>
  <ng-container text-one>Interview</ng-container>
  <ng-container text-two>/</ng-container>
  <ng-container text-three>Revision</ng-container>
</app-heading>



<section class="main-content">

  <app-tabs>
    <app-tab [title]="'My Background'" [fragment]="'my-background'">
      <!-- ingenie experience -->
      <h3 class="heading-3">ingenie Telematics</h3>
      <p class="standard-paragraph text-raw-400 text-lg font-thin">
        Last 3 years at ingenie telematics. </p>
      <p class="text-gray-700 mb-4">They supplied car insurance to young drivers looking to make saving on the
        premiums by driving safely. We would track their driving using a beacon or similar dievice in their vehicle and
        this would give use the data to create quarterly safe driving score for them. Scores were based on Speeding,
        Braking, Acceleration and Cornering.
      </p>

      <ul class="list-disc list-inside">
        <li class="standard-paragraph">
          I was main <strong>Frontend Developer</strong> working on web based version of the <strong>myaccount
            dashboard</strong> where
          the <strong>data was collected</strong> and displayed to the users displaying their <strong>driving
            score</strong>, any savings they were on
          target to make as well as any improvememnts they could make.
        </li>
        <li class="standard-paragraph">
          Alongside the web based application we also have <strong>native apps</strong> that customers could use on
          their devices.
        </li>
        <li class="standard-paragraph">
          I built and maintained their <strong>B2B ingeniebusiness site</strong> to market the technology. Wich was
          replaced by
          reskin in to <strong>howden driving data</strong> after the takeover.
        </li>

        <li class="standard-paragraph">
          I led the build of their brochureware CMS site with custom theming, creating a styleguides and component
          library for marketing to easily use marketing to use. <strong>(ingenie.com)</strong>
        </li>
        <li class="standard-paragraph">
          I was responsible for creating/updating internal and third party <strong>responsive emails suites</strong>.
        </li>
        <li class="standard-paragraph">
          Set-up an <strong>Internal Angular app</strong> for the backend team to work with customers journeys on map.
          This needed
          to
          handle <strong>multiple brands - multi languages</strong>. And required <strong>ngRX store and OpenID
            authentication</strong> implementations.
        </li>
      </ul>
      <!-- esure experience -->
      <h3 class="heading-3">esure Group</h3>

      <p class="standard-paragraph text-raw-400 text-lg font-thin">
        I worked at esure Group for 7 Years at their Reigate, Surrey ofﬁce.
      </p>

      <p class="text-gray-700 mb-4">The esure Group supplied Home, Motor & Pet insurance products as well various
        add-ons. Three brands sat under the group umbrella, they were esure, Sheilas' Wheels and First Alternative.
      </p>

      <ul class="list-disc list-inside">

        <li class="standard-paragraph">
          Started as <strong>Web Designer</strong>. Quickly moved to <strong>Senior UI Designer</strong> and progressed
          into development after a couple of years there.
        </li>
        <li class="standard-paragraph">
          Helped improve the <strong>insurance quote</strong> journeys from a user perspective looking at dropoff points
          and finding solutions UX issues. EXAMPLE?</li>
        <li class="standard-paragraph">
          The last 3 years at esure I was working in the digital team on their Angular(4-7) <strong>customer portals
            (myaccount)</strong>. <a routerLink="/playground/portfolio/es-myaccount-app" target="_blank"
            class="text-tealy-500 hover:text-tealy-300 underline transition duration-150 ease-in-out">Find out more</a>
          Allowing
          customers to self serve and <strong>reduce call centre
            pressure/time</strong>.
          This included the usual stuff like Login, viewing details and documents, making changing to policy etc...
        </li>
        <li class="standard-paragraph">
          Whilst there i was experimenting with another Javascript framework <strong>'ionic'</strong>. Using a
          <strong>headless CMS</strong> I created
          their first native app for the Sheilas Wheels brand and the marketing team to use. <a
            routerLink="/playground/portfolio/sw-loyalty-app" target="_blank"
            class="text-tealy-500 hover:text-tealy-300 underline transition duration-150 ease-in-out">(Loyalty App) -
            More</a>
        </li>

      </ul>
    </app-tab>

    <!-- Predicted questions -->
    <app-tab [title]="'Predicted questions'" [fragment]="'predicted-questions'">
      <app-accordion [parentData]="allJobQuestions" [searchBar]="true" heading="Questions I could be asked"
        subHeading="Add to this json list if asked any good ones that i need to cover"></app-accordion>
    </app-tab>

    <!-- Question to ask -->
    <app-tab [title]="'Questions to ask'" [fragment]="'question-to-ask'">
      <h3 class="heading-3">Find out about company</h3>
      <p class="standard-paragraph text-raw-400 text-lg font-thin">
        Ask only if you feel it relevant.
      </p>
      <ul class="list-decimal list-inside">

        <li class="standard-paragraph">
          Can you tell me more about the developemnt team? (size, broke into feature teams?, closly with
          designer/back-end devs?)
        </li>
        <li class="standard-paragraph">
          Whats the workﬂow of development team (Agile?, Do you use Jira, work in 2 week sprints etc…)
        </li>

        <li class="standard-paragraph">
          Are there opportunities for training and progression within the role / company
        </li>
        <li class="standard-paragraph">
          Can you tell me more about the day-to-day responsibilities of the role?
        </li>
        <li class="standard-paragraph">
          Mac or PC's
        </li>
        <li class="standard-paragraph">
          Are there any bonus Scheme, incentives in place.
        </li>
        <li class="standard-paragraph">
          What are the next stages of the interview process?
        </li>
      </ul>
    </app-tab>

    <!-- Revision helpers -->
    <app-tab [title]="'Cards / Revision'" [fragment]="'cards-revision'">
      <app-accordion [parentData]="allRevisionQuestions" [searchBar]="true" [searchButtons]="true"
        heading="Cards / Revision" subHeading="Helpers for interviews questions">
      </app-accordion>
    </app-tab>
  </app-tabs>

  <!--
  <div class="flex justify-between">
    <div class="hex hex-one">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-300 font-semibold uppercase text-center">My Background</span>
        </div>
      </div>
    </div>
    <div class="hex hex-two">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-500 font-semibold uppercase text-center">Predicted questions</span>
        </div>
      </div>
    </div>
    <div class="hex hex-three">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-700 font-semibold uppercase text-center">Questions to ask</span>
        </div>
      </div>
    </div>
    <div class="hex hex-four">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-900 font-semibold uppercase text-center">Cards / Revision</span>
        </div>
      </div>
    </div>
  </div> -->

</section>