<app-heading>
  <ng-container text-one>Interview</ng-container>
  <ng-container text-two>/</ng-container>
  <ng-container text-three>Revision</ng-container>
</app-heading>

<app-breadcrumbs></app-breadcrumbs>

<section class="main-content">

  <div class="flex justify-between">

    <div class="hex hex-one">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-300 font-semibold uppercase text-center">My Background</span>
        </div>
      </div>
    </div>
    <div class="hex hex-two">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-500 font-semibold uppercase text-center">Predicted questions</span>
        </div>
      </div>
    </div>
    <div class="hex hex-three">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-700 font-semibold uppercase text-center">Questions to ask</span>
        </div>
      </div>
    </div>
    <div class="hex hex-four">
      <div class="hex inner">
        <div class="hex inner2 flex items-center">
          <span class="inner-text text-3xl text-raw-900 font-semibold uppercase text-center">Cards / Revision</span>
        </div>
      </div>
    </div>


  </div>

</section>
